#title h1 {
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 30vw;
    padding-right: 30vw;
    font-size: 76px;
}

#training_option1 {
    display: flex;
    min-height: 50vh;
    max-height: 50vh;

}

#training_option2 {
    display: flex;
    min-height: 50vh;
    max-height: 50vh;

}

#training_option1 img, #training_option2 img {
    width: 50%;
    height: auto;
}

#text-content {
    margin: auto;
    height: 100%;
    display: block;
  }

h2 {
    padding-bottom: 2vh;
}




/* Media Queries for Mobile Optimization */
@media (max-width: 768px) {
    #title h1 {
        padding-top: 25vh;
        padding-bottom: 10vh;
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: 48px;
    }

    #training_option1 {
        flex-direction: column;
        align-items: center;
        max-height: 100vh;
        min-height: 100vh;
    }

    #training_option2 {
        flex-direction: column-reverse;
        align-items: center;
        max-height: 100vh;
        min-height: 100vh;
    }

    #training_option1, #training_option2 img,
    #text-content {
        width: 100%;
        line-height: 2vh;
        justify-content: center;
    }

    #training_option1 img {
        width: 100%;
        height: auto;
    }

    #training_option2 img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    #title h1 {
        padding-bottom: 8vh;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 32px;
    }

    #text-content {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}

/* Specific Styles for Devices with Max Width of 360px */
@media (max-width: 360px) {
    #title h1 {
        padding-bottom: 5vh;

        font-size: 24px;
    }
    #text-content {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    h2 {
        font-size: 18px;
    }

    #training_option1 p, #training_option2 p {
        font-size: 16px;
    }
}