@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 100 700;
    font-display: swap;
    src: url('/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
  } 

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
  


html {
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
}