#about {
    display: grid;
    place-items: center;
    align-items: center;
    padding-top: 10vh;
}


#about-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 15px rgb(175, 175, 175);
}

#about h2 {
    font-weight:300;
}

#about h1 {
    font-weight: 400;
    font-size: 3em;
}

#about_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    
}

/* Media Queries for Mobile Optimization */
@media (max-width: 768px) {
    #about_container{
        flex-direction: column-reverse;
    }

    #about-img {
        width: 200px;
        height: 200px;
    }
    
}

@media (max-width: 480px) {
 
}

#about_h2 {
    display: grid;
    align-items: center;
    place-items: center;
}

#about button{
    margin-top: 1rem;
    background-color: #BE82B9;
    color: white;
    padding: 8px 20px;
    text-align: center;
    border-radius: 4px;
    border: none;
}

