


#hero {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}

#hero h1{
    font-size: 96px;
    color: white;
    text-align: center;
    margin: 10vw;
}

#hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#about {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}

#slider {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}

#testimonies {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}

#socials {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}
