#testimonies {
    display: flex;
    flex-direction: column;
    gap: 20px;
    place-items: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}


#test-img {
    width: 30%;
    height: auto;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 3px 3px 10px rgb(175, 175, 175);
}

#testimony1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#testimony2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#testimonies p {
    font-size: 26px;
}

#testimonies h1 {
    font-size: 50px;
}