#testimonies {
    display: flex;
    flex-direction: column;
    gap: 20px;
    place-items: center;
    align-items: center;
    padding: 20px 0;
}


#test-img {
    width: 350px;
    height: 350px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 3px 3px 10px rgb(175, 175, 175);
}

#testimony1 {
    display: flex;
    align-items: center;
}

#testimony2 {
    display: flex;
    align-items: center;
}

#test-text {
    margin-left: 15vw;
    margin-right: 15vw;
}

#testimonies p {
    font-size: 26px;
}

#testimonies h1 {
    font-size: 50px;
}