#navbar-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 1000; /* Make sure this is higher than the parallax image */
}

#img-gallery {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
}

.parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#img-gallery h1 {
  font-size: 96px;
  color: white;
  text-align: center;
  margin: 10vw;
}

#bio {
  padding-top: 2em;
}

#bio h1 {
  text-align: center;
}

#bio-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 10px;
}

#bio-desc {
  width:100%;
  padding: 0 3vw;
}



#quali {
  margin-top: 3vh;
  padding: 0 5vw;
}

/* Media Queries for Mobile Optimization *//* Media Queries for Mobile Optimization */
@media (max-width: 768px) {
  #navbar-index {
      width: 100%;
  }

  #img-gallery h1 {
      font-size: 48px;
      margin: 5vw;
  }

  #bio {
      padding-top: 1em;
  }

  #bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Ensure text is centered */
  }

  #bio-desc {
      width: 100%;
      align-items: center;
      text-align: left; /* Center text within the bio description */
      padding: 0;
  }


  #quali {
      margin-top: 2vh;
  }
}

