---
import serialize from '../../../scripts/htmlConverter';
import Navigation from '../components/Navigation.astro';
import '../styles/about/about.css';
import '../styles/global.css';

//const data =  await fetch("http://localhost:3000/api/globals/about/").then((res) => res.json()); 
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About</title>
  </head>
  <body>
    <Navigation className=""/>
    <div id="aboutContent" set:html={serialize(data.aboutContent)}/>
    
  </body>
</html>