---
import { Image } from "astro:assets";
import Navigation from "../components/Navigation.astro";
import '../styles/global.css';
import '../styles/index/index.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Samuel Tseng </title>
  </head>
  <body>
	<Navigation id="navbar-index"/>
	<div id="hero">
		<h1>RECOVER BACK TO YOUR PRIME</h1>
		<video autoplay muted loop>
			<source src="/videos/nike-demo.mp4" type="video/mp4">
			Your browser does not support the video type
		</video>
	</div>
	<div id="about">
		<h1>ABOUT YOUR EXT PERSONAL TRAINER</h1>
	</div>
	<div id="slider">
		<h1>STRENGTH AND CONDITIONING</h1>
		<h1>WEIGHT LOSS</h1>
		<h1>EXCERCISE PROGRAMING</h1>
		<h1>MOBILITY TRAINING</h1>
	</div>
	<div id="testimonies">
		<h1>MY CHAMPIONS</h1>
	</div>
	<div id="socials">
		FOLLOW ME ON SOCIALS
	</div>
  </body>
</html>