---
import Navigation from "../components/Navigation.astro";
import TextSlider from "../components/TextSlider";
import '../styles/global.css';
import '../styles/index/about.css';
import '../styles/index/index.css';

const data = await fetch("http://localhost:3000/api/globals/about/").then((res) => res.json());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Samuel Tseng </title>
  </head>
  <body>


	<Navigation id="navbar-index"/>
	<div id="hero">
		<h1>RECOVER BACK TO YOUR PRIME</h1>
		<video autoplay muted loop>
			<source src="/videos/nike-demo.mp4" type="video/mp4">
			Your browser does not support the video type
		</video>
	</div>


	<div id="about">
		<h1>ABOUT YOUR NEXT PERSONAL TRAINER</h1>
		<div id="about_container">
			<div id="about_h2">
				<h2 set:text={data.summaryAboutContent}/>
				<a href="/about"><button type="button">LEARN MORE</button></a>
			</div>
			<img src="/images/samuel_tseng_demo.jpg">
	</div>
	<div id="slider">
		<TextSlider sliderText="STRENGTH AND CONDITION" sliderColor="#028391" sliderTime="10s" client:load/>
		<TextSlider sliderText="WEIGHT LOSS" sliderColor="#F6DCAC" sliderTime="10s" client:load/>
		<TextSlider sliderText="EXERCISE PROGRAMING" sliderColor="#FAA968" sliderTime="10s" client:load/>
		<TextSlider sliderText="MOBILITY TRAINING" sliderColor="#F85525" sliderTime="10s" client:load/>
		
	</div>
	<div id="testimonies">
		<h1>MY CHAMPIONS</h1>
	</div>
	<div id="socials">
		FOLLOW ME ON SOCIALS
	</div>
  </body>
</html>