---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import TextSlider from "../components/TextSlider";
import '../styles/global.css';
import '../styles/index/about.css';
import '../styles/index/index.css';
import '../styles/index/testimonies.css';

const data = await fetch("http://localhost:3000/api/globals/about/").then((res) => res.json());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Samuel Tseng </title>
  </head>
  <body>


	<Navigation id="navbar-index"/>
	<div id="hero">
		<h1>RECOVER BACK TO YOUR PRIME</h1>
		<video autoplay muted loop>
			<source src="/videos/nike-demo.mp4" type="video/mp4">
			Your browser does not support the video type
		</video>
	</div>


	<div id="about">
		<h1>ABOUT YOUR NEXT PERSONAL TRAINER</h1>
		<div id="about_container">
			<div id="about_h2">
				<h2 set:text={data.summaryAboutContent}/>
				<a href="/about"><button type="button">LEARN MORE</button></a>
			</div>
			<img id="about-img" src="/images/samuel_tseng_demo.jpg">
	</div>

	<div id="slider">
		<TextSlider sliderText="STRENGTH AND CONDITION" sliderColor="#028391" sliderTime="20s" hoverImage="/images/strength.jpg" client:load/>
		<TextSlider sliderText="WEIGHT LOSS" sliderColor="#F6DCAC" sliderTime="20s" hoverImage="/images/weightloss.jpg" client:load/>
		<TextSlider sliderText="EXERCISE PROGRAMING" sliderColor="#FAA968" sliderTime="20s" hoverImage="/images/exercise.jpg" client:load/>
		<TextSlider sliderText="MOBILITY TRAINING" sliderColor="#F85525" sliderTime="20s" hoverImage="/images/mobility.jpg" client:load/>
	</div>
	<div id="testimonies">
		<h1>MY CHAMPIONS</h1>
		<h1>MY CHAMPIONS</h1>
		<h2>My champoins My champoins My champoins My champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoinsMy champoins</h2>
		<div id="testimony1">
			<img id="test-img" src="/images/testimony1.jpg">
			<div id="test-text">
				<p>“I am a happy customer”</p>
				<p>-Customer</p>
			</div>
		</div>
		<div id="testimony2">
			<div id="test-text">
				<p>“I am a happy customer”</p>
				<p>-Customer</p>
			</div>
			<img id="test-img" src="/images/testimony2.jpg">
		</div>
	</div>
	<div id="socials">
		FOLLOW ME ON SOCIALS
	</div>
	<Footer></Footer>
  </body>
</html>