---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/training_options/training_option.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About</title>
  </head>
  <body>
    <Navigation></Navigation>
    <div id="title">
      <h1>MY TRAINING OPTIONS</h1>
    </div>
    <div id="training_option1">
      <img src="/images/exercise.jpg">
      <div id="text-content">
        <h2>TRAINING OPTION 1</h2>
      <p>description</p>
      <ul>
        <li>item 1</li>
        <li>item 2</li>
      </ul>
      </div>
    </div>
    <div id="training_option1">
      <div id="text-content">
        <h2>TRAINING OPTION 1</h2>
        <p>description</p>
        <ul>
          <li>item 1</li>
          <li>item 2</li>
        </ul>
      </div>
      <img src="/images/exercise.jpg">
    </div>
    <Footer></Footer>
  </body>
</html>