#contact {
    display: grid;
    place-content: center;
    place-items: center;
    min-height: 80vh;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 20px 0;
}

h1 {
    border-bottom: solid;
    margin-bottom: 5vh;
    border-width: 1px;
}

h2 {
    font-weight: 200;
    margin-bottom: 5vh;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #BE82B9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    place-items: center;
}

#social-icons img{
    width: 100px;
    height: 100px;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 5vh;
}