---

const apiBaseUrl = import.meta.env.API_BASE_URL;

const data = await fetch(`${apiBaseUrl}/api/globals/socials`).then((res) => res.json());
---

<footer>

    <div id="footer-content">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/training_options">TRAINING OPTIONS</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
        <div id="socials">
            <ul>
                {
                    data.socials?.map((social: any) => 
                        social.show && 
                            ( <li><a href={social.url} target="_blank">{social.title}</a></li>)
                    )
                }
            </ul>
        </div>
        
    </div>
    
    <div id="credit">
        <p>© 2024 Samuel Tseng</p>
        <p>Design and Coded by Daniel Hong & Zachary Tam</p>
        <p>Video and Images edited and film by Wayne Tan</p>
    </div>
</footer>

<style>
    footer {
        display: grid;
        background-color: #5FAB99;
        place-items: center;
        align-items: center;
        width: 100%;
    }


    h1 {
        color: white;
        padding-left: 5vw;
        padding-top: 5vh;
    }

    #footer-content {
        display: flex;
        align-items: center;
        place-content: center;
        width: 100%;
        justify-content: space-around;
    }

    ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 36px;
        font-weight: bold;
    }

    #credit {
        color: white;
        text-align: center;
        place-content: bottom;
        bottom: 0;
        font-size: 10px;
        width: 100%;
        background-color: #5FAB99;
    }

    @media (max-width: 768px) {
        #socials {
            display: none;
        }
    }
</style>