---
import '../styles/navbar/navbar-index.css';
import '../styles/navbar/navbar.css';
const {id} = Astro.props;

const data = await fetch("http://localhost:3000/api/globals/homepage/").then((res) => res.json());
---

<!-- 
    Component dedicated to the Navigation Bar
 -->

<nav id={id ? id : 'navbar'}>
    <p>{data.name}</p>
    <ul class="nav-links">
        <li><a href="/">HOME</a></li>
        <li><a href="/about/">ABOUT</a></li>
        <li><a href="/contact/">CONTACT</a></li>
        <li><a href="/training_options/">TRAINING</a></li>
    </ul>
</nav>