---
import '../styles/navbar/navbar.css';
import '../styles/navbar/navbar-index.css'
const {id} = Astro.props;
---

<!-- 
    Component dedicated to the Navigation Bar
 -->

<nav id={id ? id : 'navbar'}>
    <p>SAMUEL TSENG</p>
    <ul class="nav-links">
        <li><a href="/">HOME</a></li>
        <li><a href="/about/">ABOUT</a></li>
        <li><a href="/contact/">CONTACT</a></li>
        <li><a href="/training_options/">TRAINING</a></li>
    </ul>
</nav>