---
import '../styles/navbar.css';
---
<nav id="navbar">
    <p>SAMUEL TSENG</p>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/training_options/">Training Options</a></li>
    </ul>
</nav>