---
const {sliderText, sliderColor, sliderTime} =  Astro.props;

---

<div class="slider-container">
    <div class="text-slider">
        <p>{sliderText}</p>
    </div>
</div>

<style define:vars={{sliderColor, sliderTime}}>
    .slider-container {
        overflow: hidden;
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        background-color: var(--sliderColor);
        max-height: 25vh;
        min-height: 25vh;
    }

    .text-slider {
        display: flex;
        white-space: nowrap;
        animation: var(--sliderTime) slide linear infinite;
    }

    .text-slider p {
        margin-right: 50px;
        flex-shrink: 0;
        font-size: 96px;
        font-weight: bolder;
    }

    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sliderContainers = document.querySelectorAll('.slider-container');
        sliderContainers.forEach(sliderContainer => {
            const textSlider = sliderContainer.querySelector(".text-slider");
            if (textSlider) {
                // Clone the content multiple times
                for (let i = 0; i < 3; i++) {
                    const copy = textSlider.cloneNode(true);
                    sliderContainer.appendChild(copy);
                }
            }
        });
    });
</script>
